<ion-view title="Dettagli Artista">
  <ion-content>
    <div class="item item-image row profile-bg"
      style="background-image:url('img/bg-mountain.jpg')">
      <div class="col col-center col-40">
        <div class="avatar-lg box-shadow" ng-if="artist.imageUrl">
          <img ng-src="{{ artist.imageUrl }}"></img>
        </div>
      </div>
      <div class="col col-center">
        <h1 class="light text-shadow">{{ artist.name }}</h1>
      </div>
    </div>
  </ion-content>
</ion-view>
