<!-- <ion-view title="Avatar Editor" can-swipe-back="false">
  <ion-content>

  </ion-content>
</ion-view> -->

<ion-view title="Avatar Editor" can-swipe-back="false" class="avatar">
  <ion-nav-buttons side="left"></ion-nav-buttons>
  <ion-nav-buttons side="right"></ion-nav-buttons>
	<div class="content pane has-header" style="overflow-y:scroll;-webkit-overflow-scrolling: touch;">
		<avatar-editor></avatar-editor>
    <div class="avatarFooter">&nbsp;</div>
	</div>
</ion-view>
