<ion-modal-view>
  <div class="bar bar-header bar-balanced">
    <div class="buttons">
    <button class="button button-clear"
      ng-click="closeCommentModal()">Annulla</button>
    </div>
    <div class="h1 title">Commento</div>
  </div>
  <ion-content class="bg bg-dark has-header padding">
      <div style="width:100%; text-align: center;">
        </br>
        <!-- h1 class="light text-center">MusicAdvisor</h1 -->

        <img src="img/circle.png" style="margin:0 auto;width:40%;"/>
        </br>
        </br>
      </div>


    <form ng-submit="postComment()">
      <div class="list">
        <div class="item-input">
          <input type="textarea" placeholder="Scrivi qui il tuo commento..."
            ng-model="selectedComment.text"></input>
        </div>
      </div>

      <div class="padding">
        <button type="submit" class="button button-block button-balanced button" style="border-radius: 30px;">
          Invia
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
