<ion-view view-title="Amici" cache-view="false">
  <ion-content>
    <ion-spinner ng-if="!friends"></ion-spinner>
    <div class="card" ng-if="showMessage">
      <div class="item item-text-wrap">
        Non hai ancora amici!! Prova la ricerca per richiedere l'amicizia.
      </div>
    </div>
    <ion-list>
      <ion-item
        ng-repeat="user in friends"
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="app.profile({id: user._id})">
        <img ng-if="user.avatarSrc" ng-src="{{ user.avatarSrc }}"/>
        <ion-spinner ng-if="!user.avatarSrc" class="spinner-friends"></ion-spinner>
        <h2>{{ user.displayName }}</h2>
        <p>{{ user.username }}</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
