<ion-view title="Home" cache-view=false>
  <ion-content>
  	<ion-spinner ng-if="showSpinner"></ion-spinner>
	<div  class="row">
	    <div class="col col-50" ng-repeat="data in datas">
	    	<img ng-src="{{data.target.imageUrl}}" style="width:100%; max-width: 100%;"/>
	    </div>
	   
	</div>
  </ion-content>
</ion-view>
