<ion-view view-title="Sign-In" class="padding bg bg-dark">
  <ion-content>
    <div ng-class="{'bar-assertive': message.error, 'bar-energized': message.warning,
    'bar-positive': message.info}" class="bar bar-header" ng-show="message.show">
    <h4 class="title">{{ message.content }}</h4>
      </div>

      <div class = "padding">
        </br>
        </br>
        </br>
        <!-- h1 class="light text-center">MusicAdvisor</h1 -->
        
        <img src="img/circle.png" style="margin:0 auto;width:40%;"/>
        
        
        </br>
        
        <form ng-submit="login()" style="margin-top: 40%;">
          <div class="item-input login-inputs">
            <!-- <div class="item-icon-wrapper">
              <i class="icon ion-person"></i>
            </div> -->
            <input type="text" placeholder="Username" ng-model="user.username" autocapitalize='none' autocorrect='off'></input>
          </div>
          <div class="item-input login-inputs">
            <!-- <div class="item-icon-wrapper">
              <i class="icon ion-key"></i>
            </div> -->
            <input type="password" placeholder="Password" ng-model="user.password"></input>
          </div>
          <div class="row" style="padding: 0px !important;">
            <div class="col col-50" style="padding: 0px !important; padding-right: 5px!important">
              <button type='button' class="login-buttons" ng-click="openRegisterModal()">
                Sign up
              </button>
            </div>
            <div class="col col-50" style="padding: 0px !important; padding-left: 5px!important">
              <button type="submit" class="login-buttons">
              Login
            </button>
            </div>
          </div>
          
          
        </form>
        <!-- <h4 class="light text-center">Non hai ancora un account?</h4>
        <button class="button button-block button-light button-outline"
          ng-click="openRegisterModal()">
          Registrati
        </button> -->
      </div>
  </ion-content>
</ion-view>
