<ion-side-menus enable-menu-with-back-views="false" >
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        <span ng-if="badgeNumber" class="badge badge-assertive badgeOnBurger">{{ badgeNumber }}</span>
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear search-button" ui-sref="app.search">
          <i class="icon ion-platform-search"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-balanced leftMenu">
      <h1 class="title">{{displayName}}</h1>
      <img ng-src="{{avatarSrc}}" class="avatarMenuImg"/>
    </ion-header-bar>
    <ion-content class="has-subheader">
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <i class="ion-ios-home-outline"></i> Home
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          <i class="ion-ios-musical-notes"></i> Le mie playlist
        </ion-item>
        <ion-item menu-close href="#/app/friends">
          <i class="ion-ios-people-outline"></i> Amici
        </ion-item>
        <ion-item menu-close href="#/app/notifications">
          <i class="ion-ios-bell-outline"><span ng-if="badgeNumber" class="badge badge-assertive">{{ badgeNumber }}</span></i> Notifiche
        </ion-item>
        <ion-item menu-close href="#/app/profile/">
          <i class="ion-levels"></i> Modifica profilo
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          <i class="ion-log-out"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
