<ion-view title="Notifiche" cache-view="false">
  <ion-content>
    <ion-spinner ng-if="showSpinner"></ion-spinner>
    <div class="card" ng-if="showMessage && !showSpinner">
      <div class="item item-text-wrap">
        Non ci sono notifiche da visualizzare.
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="notif in notifications"
        type="item-text-wrap"
        class="item-avatar item-choice-right">
        <img ng-src="{{ notif.actor.avatarUrl }}">
        <div class="text">
          <h2>{{ notif.actor.displayName }}</h2>
          <p>{{ notif.actor.username }}</h2>
        </div>
        <button class="button button-small button-positive" ng-click="accept($index,notif._id)">
          Accetta
        </button>
        <button class="button button-small button-assertive" ng-click="ignore($index,notif._id)">
          Ignora
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-nav-view>
