<ion-view view-title="Playlist" view-cache=false>
  <!-- <ion-nav-buttons side="right">
    <a class="button button-clear icon ion-plus-round"></a>
  </ion-nav-buttons> -->
  <ion-content has-header="true">
    <ion-spinner ng-if="showSpinner"></ion-spinner>
    <div class="item item-image row profile-bg" style="background-image:url('img/bg-mountain.jpg')">
      <div class="col col-center col-40">
        <div class="avatar-lg box-shadow" ng-if="playlist.imageUrl">
          <img ng-src="{{ playlist.imageUrl }}"></img>
        </div>
      </div>
      <div class="col col-center">
        <h1 class="light text-shadow" ng-if="playlist.title">{{ playlist.title }}</h1>
        <h3 class="light text-shadow" ng-if="playlist.description">{{playlist.description}}</h3>
      </div>
    </div>
    <ion-list>
      <div class="item item-divider">{{playlist.title}}</div>
      <ion-item ng-repeat="song in songList" href="">
        {{song.title}} {{song.artist}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
