<ion-view view-title="Playlists" view-cache=false>
  <ion-nav-buttons side="right">
    <a class="button button-clear icon ion-plus-round" ng-click="openCreatePlaylistModal()"></a>
  </ion-nav-buttons>
  <ion-content has-header="true">

    <ion-list>
      <ion-item>
        <div class="video-container">
          <iframe src="http://musicadvisor-88857.onmodulus.net/test.html" width="100%" height="auto"></iframe>
        </div>
      </ion-item>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
