<ion-view title="Profilo">
  <ion-content>
    <div class="item item-image row profile-bg"
      style="background-image:url('img/bg-mountain.jpg')">
      <div class="col col-center col-40">
        <div class="avatar-lg box-shadow" ng-if="avatar.show">
          <img ng-src="{{avatar.src}}"></img>
        </div>
      </div>
      <div class="col col-center">
        <h1 class="light text-shadow">{{ user.displayName }}</h1>
      </div>
    </div>
    <div class="item no-padding">
      <div class="row no-padding">
        <div class="col item item-inline">
          <h2>1873</h2>
          <h4>Punti</h4>
        </div>
        <div class="col item item-inline">
          <h2>22</h2>
          <h4>Livello</h4>
        </div>
        <div class="col item item-inline" ng-click="editAvatar()" ng-if="isThisUser">
          <button class="button button-balanced button-small">
            Nuovo avatar
          </button>
        </div>
        <div class="col item item-inline" ng-click="addFriend()"
          ng-if="!isThisUser && !user.friends && !(user.requestId)">
          <button class="button button-calm button-small">
            Aggiungi amico
          </button>
        </div>
        <div class="col item item-inline" ng-click="withdrawRequest()"
          ng-if="user.requestId">
          <button class="button button-assertive button-small">
            Annulla richiesta
          </button>
        </div>
        <div class="col item item-inline" ng-click="removeFriend()" ng-if="user.friends">
          <button class="button button-assertive button-small">
            Rimuovi amico
          </button>
        </div>
      </div>
    </div>
    <div class="item item-divider" ng-if="isThisUser">
        Modifica il profilo
    </div>
    <div class="item padding">
      
      <form class="list" ng-if="isThisUser" ng-submit="saveProfile(newUserProfile)">
         <label class="item item-input">
            Nome visualizzato:&nbsp;    
            <input type="text" placeholder="Nome" ng-model="newUserProfile.displayName">
         </label>

         <label class="item item-input">
            Vecchia password:&nbsp; 
            <input type="password" placeholder="Password" ng-model="newUserProfile.oldPassword" >
         </label>

         <label class="item item-input">
            Nuova password:&nbsp;   
            <input type="password" placeholder="New Password" ng-model="newUserProfile.newPassword" >
         </label>
         <button class="button button-block button-balanced" type="submit">Modifica</button>
      </form>
    </div>
    <div class="item item-divider">
        Ultime canzoni cercate
    </div>
    <div class="item padding">
      <div class="row">
        <div class="col col-33" ng-click="goToSongDetail(song.target.id)" style="white-space: normal;border:1px solid #ddd" ng-repeat="song in lastSongs">
          {{song.target.name}}
          <img ng-src="{{song.target.imageUrl}}" style="width:100%;height:auto;"/>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
