<ion-modal-view>
  <div class="bar bar-header bar-balanced">
    <div class="buttons">
    <button class="button button-clear"
      ng-click="closeRegisterModal()">Annulla</button>
    </div>
    <div class="h1 title">Registrazione</div>
  </div>
  <ion-content class="bg bg-dark has-header padding">
      <div style="width:100%; text-align: center;">
        </br>
        <!-- h1 class="light text-center">MusicAdvisor</h1 -->
        
        <img src="img/circle.png" style="margin:0 auto;width:40%;"/>  
        </br>
        </br>
      </div>
        
      
    <form ng-submit="register()">
      <div class="list">
        <div class="item-input login-inputs">
          <input type="text" placeholder="Username"
            ng-model="registerData.username"></input>
        </div>
        <div class="item-input login-inputs">
          <input type="password" placeholder="Password"
            ng-model="registerData.password"></input>
        </div>
        <div class="item-input login-inputs">
          <input type="text" placeholder="Nickname"
            ng-model="registerData.displayName"></input>
        </div>
        <div class="item-input login-inputs">
          <span class="input-label">Data di nascita</span>
          <input type="text" ng-click="openDatePicker()"
            ng-model="formattedBirthDate"></input>
        </div>
      </div>
      
      <div class="padding">
        <button type="submit" class="button button-block button-balanced button" style="border-radius: 30px;">
          Conferma
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
