<ion-view title="">
  <ion-nav-buttons side="left" >
    <div class="item-input-inset">
      <label class="item-input-wrapper textbox-search">
        <form ng-submit="submit()">
          <input type="search" placeholder="Search" ng-model="query.string">
        </form>
      </label>
    </div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear search-button" ng-click="submit()">
      <i class="icon ion-platform-search"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <div class="item item-divider" ng-if="labels.songs">
        Songs
      </div>
      <ion-item
        ng-repeat="song in results.songs"
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="app.songDetail({id: song._id})">
        <h2>{{ song.title }}</h2>
        <p>{{ song.artistName }}</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
    <ion-spinner ng-if="isSearching"></ion-spinner>


    <ion-list>
      <div class="item item-divider" ng-if="labels.artists">
        Artists
      </div>
      <ion-item
        ng-repeat="artist in results.artists"
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ng-click="goTo(artist._id)">
        <img ng-src="{{ artist.imageUrl }}">
        <h2>{{ artist.name }}</h2>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>


    <ion-list>
      <div class="item item-divider" ng-if="labels.playlists">
        Playlists
      </div>
      <ion-item
        ng-repeat="playlist in results.playlists"
        class="item-remove-animate item-thumbnail item-icon-right"
        type="item-text-wrap"
        ui-sref="app.playlistDetail({id: playlist._id})">
        <img ng-src="{{ playlist.imageUrl }}">
        <h2>{{ playlist.title }}</h2>
        <p>{{ playlist.owner.name }}</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>


    <ion-list>
      <div class="item item-divider" ng-if="labels.users">
        Users
      </div>
      <ion-item
        ng-repeat="user in results.users"
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="app.profile({id: user._id})">
        <img ng-src="{{ user.avatarUrl }}">
        <h2>{{ user.displayName }}</h2>
        <p>{{ user.username }}</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
