<ion-view view-title="Playlists" view-cache=false>
  <ion-content has-header="true">

    <ion-list>
      <div class="item item-divider">
        VIDEO
      </div>
    	<ion-item>
    		    <div class="video-container">
                <iframe src="{{videoUrl}}" width="100%" height="auto"></iframe>
            </div>
            <div>&nbsp;</div>
            <button class="button button-assertive" style="float:right" ng-click="openPlaylistModal()">Aggiungi alla playlist</button>
    	</ion-item>
      

      <div class="item item-divider">
        VOTA
      </div>
      <ion-item>
          musica {{musicRating.rate}}/100
          <rating ng-model="musicRating.myRate" max="musicRating.max"></rating>
          video {{videoRating.rate}}/100
          <rating ng-model="videoRating.myRate" max="videoRating.max"></rating>
          parole {{lyricsRating.rate}}/100
          <rating ng-model="lyricsRating.myRate" max="lyricsRating.max"></rating>
          <button class="button button-block button-balanced" ng-click="rate()" style="float:right">rate!</button>
      </ion-item>
      <div class="item item-divider">
        TAGGA
      </div>
      <ion-item class="emoticons">
          <div class="row">
            <div class="col col-25">
              <span ng-if="tags['happy_01'].qty>0">{{tags['happy_01'].qty}}</span>
              <img src="img/emoticons/happy_01.svg" ng-click="tag('happy_01')" ng-class="{'selected':tags['happy_01'].selected}"/>

            </div>
            <div class="col col-25">
              <span ng-if="tags['happy_02'].qty>0">{{tags['happy_02'].qty}}</span>
              <img src="img/emoticons/happy_02.svg" ng-click="tag('happy_02')" ng-class="{'selected':tags['happy_02'].selected}"/>

            </div>

            <div class="col col-25">
              <span ng-if="tags['love_01'].qty>0">{{tags['love_01'].qty}}</span>
              <img src="img/emoticons/love_01.svg" ng-click="tag('love_01')" ng-class="{'selected':tags['love_01'].selected}"/>

            </div>

            <div class="col col-25">
              <span ng-if="tags['love_02'].qty>0">{{tags['love_02'].qty}}</span>
              <img src="img/emoticons/love_02.svg" ng-click="tag('love_02')" ng-class="{'selected':tags['love_02'].selected}"/>

            </div>
          </div>

          <div class="row">
            <div class="col col-25">
              <span ng-if="tags['sad_01'].qty>0">{{tags['sad_01'].qty}}</span>
              <img src="img/emoticons/sad_01.svg" ng-click="tag('sad_01')" ng-class="{'selected':tags['sad_01'].selected}"/>

            </div>

            <div class="col col-25">
              <span ng-if="tags['sad_02'].qty>0">{{tags['sad_02'].qty}}</span>
              <img src="img/emoticons/sad_02.svg" ng-click="tag('sad_02')" ng-class="{'selected':tags['sad_02'].selected}"/>

            </div>

            <div class="col col-25">
              <span ng-if="tags['sad_03'].qty>0">{{tags['sad_03'].qty}}</span>
              <img src="img/emoticons/sad_03.svg" ng-click="tag('sad_03')" ng-class="{'selected':tags['sad_03'].selected}"/>

            </div>

            <div class="col col-25">
              <span ng-if="tags['boring_01'].qty>0">{{tags['boring_01'].qty}}</span>
              <img src="img/emoticons/boring_01.svg" ng-click="tag('boring_01')" ng-class="{'selected':tags['boring_01'].selected}"/>

            </div>
          </div>

      </ion-item>
    </ion-list>
    <div class="item item-divider">
      Cosa dicono gli amici
    </div>

    <ion-list>
      <div class="padding">
        <button class="button button-block button-balanced"
          ng-click="openCommentModal()">Lascia un commento</button>
      </div>
      <ion-item
        ng-repeat="comment in comments"
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap">
        <img ng-src="{{ comment.owner.avatar }}">
        <h2>{{ comment.owner.name }}</h2>
        <p>{{ comment.text }}</p>
        <p>{{ comment.updated }}
        <i ng-if="comment.isOwner" ng-click="openModal(comment)"
          class="icon ion-edit"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
