.ion-platform-arrow-back {
  @extend .ion-ios-arrow-back;
}
.ion-platform-search {
  @extend .ion-ios-search;
}


.platform-android {
  .ion-platform-arrow-back {
    @extend .ion-android-arrow-back;
  }
  .ion-platform-search {
    @extend .ion-android-search;
  }

  .bar {
    .search-button .icon:before {
      font-size: 24px;
    }
  }
}

.corner-icon {
  position: relative;
  bottom: 8px;
  right: 18px;

  &:before {
    font-size: 24px !important;
  }

}
