font-face {
  font-family: "icons";
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before {
  content: "\61";
}
.icon-video:before {
  content: "\62";
}
.icon-user-male:before {
  content: "\63";
}
.icon-user-female:before {
  content: "\64";
}
.icon-twitter:before {
  content: "\65";
}
.icon-amici:before {
  content: "\66";
}
.icon-back:before {
  content: "\67";
}
.icon-chat:before {
  content: "\68";
}
.icon-dislike:before {
  content: "\69";
}
.icon-error:before {
  content: "\6a";
}
.icon-facebook:before {
  content: "\6b";
}
.icon-fast-forward:before {
  content: "\6c";
}
.icon-home:before {
  content: "\6d";
}
.icon-la-mia-playlist:before {
  content: "\6e";
}
.icon-like:before {
  content: "\6f";
}
.icon-menu:before {
  content: "\70";
}
.icon-message:before {
  content: "\71";
}
.icon-shuffle:before {
  content: "\72";
}
.icon-search:before {
  content: "\73";
}
.icon-rewind:before {
  content: "\74";
}
.icon-repeat:before {
  content: "\75";
}
.icon-plus:before {
  content: "\76";
}
.icon-play-button:before {
  content: "\77";
}
.icon-play:before {
  content: "\78";
}
.icon-pause:before {
  content: "\79";
}
.icon-next:before {
  content: "\7a";
}
.icon-music-full:before {
  content: "\41";
}
.icon-music-empty:before {
  content: "\42";
}
.icon-modifica-profilo:before {
  content: "\43";
}
.icon-minus:before {
  content: "\44";
}
.icon-success:before {
  content: "\45";
}
.icon-text:before {
  content: "\46";
}
.signup-background {
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -999;
  overflow: hidden !important;
}
.transparent {
  background-color: transparent !important;
}
.signup-logo {
  background-color: transparent !important;
  box-shadow: none !important;
  margin: auto !important;
  /*margin-right: auto !important;*/
  margin-top: 23% !important;
  padding-bottom: 40px !important;
}
.signup-logo-img {
  height: 40%;
  width: 40%;
  background-color: transparent !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
#login-top-buttons {
  width: 100%;
  height: 100%;
  border: none;
  background-repeat: no-repeat;
  background-image: url('../img/small_label.png') !important;
  background-color: transparent !important;
  background-position: center !important;
  color: white;
}
.login-form {
  background-color: transparent !important;
  color: white !important;
  border-top-left-radius: 100px !important;
  border-top-right-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
  border-style: solid !important;
  border-width: 1.8px !important;
  border-color: white !important;
  margin-top: 10px !important;
  height: 35px !important;
}
.login-form.input {
  color: white !important;
}
.register-form {
  background-color: transparent !important;
  color: white !important;
  border-top-left-radius: 100px !important;
  border-top-right-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
  border-style: solid !important;
  border-width: 1.8px !important;
  border-color: white !important;
  margin-top: 10px !important;
  height: 35px !important;
}
.register-form.input {
  color: white !important;
  /*height: 25px !important;*/
}
#login-bottom-buttons {
  width: 100%;
  height: 100%;
  border: none;
  background-repeat: no-repeat;
  background-image: url('../img/bt_enter.png') !important;
  background-color: transparent !important;
  background-position: center !important;
}
.pass-forgotten {
  color: white;
  text-decoration: white !important;
  margin-left: auto !important;
  margin-right: auto !important;
  position: center;
  text-decoration: none;
  font-size: 10px;
}
#login-social-buttons {
  width: 36px;
  height: 36px;
  border: none;
  margin: 2px !important;
  background-repeat: no-repeat;
  background-color: transparent !important;
  background-position: center !important;
  /*margin-left: auto !important;
  margin-right: auto !important;*/
}
.login-social-button-margins {
  width: 100% !important;
  margin: 0 auto !important;
}
.valutation-list-items {
  border-color: transparent !important;
}
.comments-list {
  overflow-y: scroll !important;
  height: 300px !important;
}
.song-detail {
  overflow-y: hidden;
}
.feelings-song-details {
  background-color: transparent !important;
  border-color: transparent !important;
  padding-left: auto !important;
  padding-right: auto !important;
}
.feelings-song-details-font {
  font-size: small;
  width: auto !important;
}
.button-comments-song {
  border-radius: 10px !important;
  width: 90%;
}
.button-song-detail-valutation {
  border-color: transparent !important;
  background-color: transparent !important;
}
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
