/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$light: #fff;
$stable: #ecf0f1;
$positive: #2ecc71;
$calm: #3498db;
/*$balanced: #1abc9c;*/
$balanced: #325d8e;
$energized: #f1c40f;
$assertive: #e74c3c;
$royal: #9b59b6;
$dark: #34495e;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import 'mixins';
@import 'icons';
@import 'player';
@import 'svgavatars';

$font-stack: Helvetica, sans-serif;
$color-light: #FFF;
$color-light-opposite: #222;
$color-stable: #009688;
$color-stable-opposite: #E0F2F1;
$color-positive: #55F;
.bg {
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  .padding {
    text-align: center;
  }
  &.bg-image {
    background-image: url('../img/bg.png');
    background-size: cover;
  }
  &.bg-stable {
    background-color: $stable;
  }
  &.bg-positive {
    background-color: $positive;
  }
  &.bg-dark {
    background-color: $dark;
  }
}
h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.pane {
  &.pane-gradient {}
}
.item-input-inset {
  input {
    min-width: calc(100% + 30px);
    color: $light;
  }
}
.item-input-wrapper {
  background-color: transparent;
  input {
    @include placeholder {
      color: $light;
    }
  }
}
.bar {
  &.bar-assertive {
    .item-input-wrapper {
      input {
        color: $light;
      }
    }
  }
}
.spinner {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  display: block;
  svg {
    margin: auto;
    display: block;
  }
}
.item-icon-wrapper {
  text-align: center;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid $light;
  width: 27px;
  i {
    font-size: 20px;
  }
}
.item {
  &.item-stable {
    background-color: $stable;
    border-color: $stable;
  }
  &.item-energized {
    background-color: $energized;
    border-color: $stable;
    color: $light;
  }
  &.item-dark {
    background-color: $dark;
    border-color: $dark;
    &.item-input {
      padding-left: 16px;
      padding-right: 16px;
      input {
        background-color: transparent;
        border-bottom: solid 1px lighten($dark, 10%);
        width: 70%;
        transition-duration: 0.5s;
        &:focus {
          border-bottom: solid 1px $light;
          width: 100%;
        }
      }
    }
    .input-label {
      color: $light;
    }
    &.item-float {
      border-color: transparent;
      background-color: lighten($dark, 10%);
    }
  }
  &.item-round {
    border-radius: 25px;
  }
  &.item-inset {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
  }
  &.item-float {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &.item-inline {
    height: 44px;
    border-left: transparent;
    border-right: transparent;
    text-align: center;
    h2 {
      color: $dark;
    }
    h4 {
      color: lighten($dark, 30%);
    }
  }
  &.item-choice-right {
    button {
      float: right;
      margin-left: 2px;
      margin-right: 2px;
    }
    .text {
      display: inline-block;
    }
  }
  input {
    color: inherit;
  }
}
.button {
  &.button-round {
    border-radius: 25px;
  }
  &.button-outline {
    border-width: 2px;
  }
  &.button-positive {
    &:active {
      background-color: lighten($positive, 10%);
    }
  }
  &.button-light {
    &.button-outline {
      border-color: $light;
      color: $light;
      &:active {
        background-color: $light;
        color: $dark;
      }
    }
  }
}
.text-shadow {
  text-shadow: 1px 1px 3px $dark;
}
.box-shadow {
  box-shadow: 1px 1px 3px $dark;
}
.avatar-lg {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  border-color: $light;
  border-width: 3px;
  border-style: solid;
  overflow: hidden;
}
.profile-bg {
  height: 240px;
  background-size: cover;
  margin: 0;
}
.padding {
  .card,
  .item-inset {
    margin-left: 0;
    margin-right: 0;
  }
}
.no-padding {
  padding: 0;
}
.profile-bg {
  h1 {
    font-size: 32px;
  }
}
.col {
  div {
    margin: auto;
  }
}
/* LOGIN PAGE  */
.login-inputs {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 2px 0 2px 16px !important;
  .input-label {
    color: white;
    width: 40%;
    font-size: 14px!important;
  }
  input {
    color: white !important;
  }
  ::-webkit-input-placeholder {
    color: white;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: white;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder {
    color: white;
  }
}
.login-buttons {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  border-radius: 30px;
  width: 100%;
  padding: 7px 0;
}
.ionic_datepicker_popup .popup-body .selected_date_full,
.ionic_datepicker_popup .popup-buttons button,
.ionic_datepicker_popup .selected_date,
.menu {
  background-color: $balanced !important;
}
.menu {
  .bar-header {
    height: 88px;
  }
  i {
    font-size: 30px;
  }
  h1 {
    height: 88px !important;
    line-height: 88px !important;
    left: 0 !important;
  }
  .avatarMenuImg {
    /*
      height:80%;
      width:auto;
      border-radius:50px;
      top: 10%;
      position: relative;
      */
    height: 78px;
    width: auto;
    border-radius: 50px;
    position: relative;
    left: 10px;
  }
  .item,
  .item-complex .item-content {
    background-color: transparent!important;
    color: white!important;
  }
}
.bar.bar-balanced.leftMenu {
  border-color: #f00;
  background-color: #325d8e;
  background-image: linear-gradient(0deg, #325d8e, #325d8e 50%, transparent 50%);
  color: #fff;
}
.badgeOnBurger {
  top: 0 !important;
  left: 20px;
  position: absolute !important;
}
.emoticons {
  .emotion {
    width: 80px;
    height: auto;
    float: left;
  }
  img {
    width: 100%;
    height: auto;
  }
  span {
    background: green;
    border-radius: 10px;
    position: relative;
    float: right;
    right: 0;
    width: 20px;
    text-align: center;
  }
  .selected {
    background: red;
  }
}
.avatar {
  .has-header {
    top: 44px !important;
  }
  .pane {
    background-color: #fafafa;
  }
  #svga-container {
    border: 0;
  }
}
.platform-ios {
  .avatarFooter {
    height: $bar-height+20;
    /* = 44+20 */
  }
}
.platform-android {
  .avatarFooter {
    height: $bar-height;
  }
}
.spinner-friends.spinner {
  width: 40px;
  height: 40px;
  margin: 0 !important;
  position: absolute;
  top: 16px;
  left: 16px;
}
.float-button {
  background-color: #303f9f;
  opacity: 0.9;
  color: white;
  border-radius: 50%;
  /*border-radius:15% 0 0 0;*/
  width: 30px;
  padding: 25px;
  font-size: 20px;
  position: fixed !important;
  bottom: 5%;
  /* Adjust height */
  right: 5%;
  /* Adjust position */
  z-index: 1000;
}
.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}
.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}
