/*******************************************************************************************
 * svgavatars.css - styles for svgavatars.min.js - jQuery script for creating vector avatars
 * @version: 1.3 (20.01.2014)
 * @requires jQuery v1.8.2 or later
 * @URL http://svgavatars.com
 * @author DeeThemes (http://codecanyon.net/user/DeeThemes)
*******************************************************************************************/

#svgAvatars {
	max-width: 960px;
	margin: 0 auto;
}
#svga-container,
#svga-container *,
#svga-container *:before,
#svga-container *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#svga-container ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
#svga-container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	font-size: 14px;
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	width: 100%;
	min-width:240px;
	height: auto;
	border-top: 3px solid;
	border-bottom: 3px solid;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#svga-container:before,
#svga-container:after {
	content: " ";
	display: table;
}
#svga-container:after {
	clear: both;
}
.svga-row {
	margin-left: -15px;
	margin-right: -15px;
}
.svga-row:before,
.svga-row:after {
	content: " ";
	display: table;
}
.svga-row:after {
	clear: both;
}
.svga-col-left, .svga-col-right {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
	height: auto;
}
.svga-col-full {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.svga-col-left, .svga-col-right {
	width: 100%;
}
#svga-container h1,
#svga-container h2,
#svga-container h3,
#svga-container h4,
#svga-container h5,
#svga-container h6 {
	font-family: inherit;
	font-weight: 300;
	line-height: 1.1;
	color: inherit;
}
#svga-container h1,
#svga-container h2,
#svga-container h3 {
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 1.1;
}
#svga-container h4,
#svga-container h5,
#svga-container h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}
#svga-container h1 {
	font-size: 36px;
}
#svga-container h2 {
	font-size: 30px;
}
#svga-container h3 {
	font-size: 24px;
}
#svga-container h4 {
	font-size: 18px;
}
#svga-container h5 {
	font-size: 14px;
}
#svga-container h6 {
	font-size: 12px;
}
#svga-container p {
	font-family: inherit;
	color: inherit;
	margin: 20px 0 10px;
}
#svga-container ul,
#svga-container ul li,
#svga-container ul li ul,
#svga-container ul li ul li {
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	margin: 0;
}
@-ms-viewport {
	width: device-width;
}
.svga-active {
	font-weight: 400;
}

/******************* HTML5 Canvas ********************/
#svga-canvas-wrap {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: -1;
}
#svga-canvas {
	visibility: hidden!important;
	overflow: hidden!important;
	z-index: -1;
}

/***************** Global controls *******************/
.svga-row.row-glob-controls {
	border-top: 1px solid;
}
#svga-glob-controls {
	width: 100%;
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
	overflow-y: hidden;
}
.svga-glob-controls {
	display: inline-block;
	width: 13.75%;
	padding-bottom: 13.75%;
	border-right: 1px solid;
	white-space: normal;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.svga-glob-controls:last-child {
	border: none;
}

/***************** Color change *****************/
.svga-row.row-colors {
	border-top: 1px solid;
	margin-top: -1px;
}
#svga-colors-wrap {
	overflow: hidden;
	width: 85%;
	position: relative;
}
#svga-colors {
	width: 100%;
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
	overflow-y: hidden;
}
.svga-colors-set > div {
	display: inline-block;
	position: relative;
	width: 12%;
	padding-bottom: 12%;
	margin: 3% 1%;
	white-space: normal;
	border: 2px solid;
	-webkit-box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	box-sizing: content-box!important;
	cursor: pointer;
}
#svga-custom-color input {
	display: none;
}
#svga-custom-color {
	width: 15%;
	padding-bottom: 15%;
	float: right;
	position: relative;
	-webkit-box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	box-sizing: content-box!important;
}
.svga-col-left .sp-replacer {
	position: absolute;
	border: none;
	width: 80%;
	top: 14%;
	left: 10%;
}
.svga-col-left .sp-preview {
	width: 100%;
	padding-bottom: 100%;
	border: none !important;
	height: 10px;
}
.svga-col-left .sp-preview,
.svga-col-left .sp-preview-inner {
	-webkit-border-radius: 50%!important;
	-moz-border-radius: 50%!important;
	border-radius: 50%!important;
}
.svga-col-left .sp-preview {
	background-image: none!important;
}

/****************** SVG canvas ********************/
.svga-row.row-svgcanvas {
	border-top: 1px solid;
	margin-top: -1px;
}
#svga-svgmain {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 90%;
	padding-bottom: 90%;
	margin: 5% 5% 3%;
}
.svga-svg{
	display: block;
	overflow: hidden;
	position: absolute!important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/******************* Controls ********************/
.svga-row.row-controls {
	border-top: 1px solid;
}
#svga-controls {
	width: 100%;
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
	overflow-y: hidden;
	text-align: center;
}
.svga-controls {
	display: inline-block;
	width: 13.75%;
	padding-bottom: 12.75%;
	margin-right: -1px;
	border-left: 1px solid;
	border-right: 1px solid;
	white-space: normal;
	cursor: pointer;
	position: relative;
}
.svga-control-icon{
  display: block;
  overflow: hidden;
  position: absolute!important;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

/*************** Elements (parts) ****************/
.svga-row.row-elements {
	border-top: 1px solid;
	padding-top: 5px;
	margin-top: -1px;
}
#svga-elements {
	width: 100%;
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
	overflow-y: hidden;
}
.svga-elements {
	display: inline-block;
	width: 20%;
	padding-bottom: 19%;
	margin: 0 1px 3px 0;
	border: 2px solid;
	white-space: normal;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

/***************** Body zones *******************/
.svga-row.row-bodyzones {
	margin-top: 5px;
}
#svga-bodyzones {
	width: 100%;
	display: table;
	table-layout: fixed;
}
.svga-bodyzones {
	display: table-cell;
	height: 50px;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

/******************** Blocks ********************/
#svga-blocks {
	width: 100%;
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
}
.svga-blocks {
	display: inline-block;
	text-align: center;
	padding: 0 10px;
	min-width: 20%;
	height: 50px;
	white-space: normal;
	font-size: 14px;
	cursor: pointer;
	line-height: 48px;
	margin: 0!important;
}

/*************** Footer menu ****************/
#svga-footermenu {
	margin-top: 30px;
	position: relative;
	margin-bottom: 0;
	width: 100%;
	display: table;
	table-layout: fixed;
	border: 1px solid;
}
#svga-footermenu ul {
	display: table-row;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
#svga-footermenu ul li {
	border-right: 1px solid;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	position: relative;
	padding: 0;
	cursor: pointer;
	font-size: 14px;
	height: 60px;
}
li#svga-downloadavatar {
	border-right: none!important;
}
#svga-footermenu ul li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 60px;
	right: 0px;
	width: 150px!important;
	display: none;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
#svga-footermenu ul li ul li {
	border: 1px solid;
	display: block;
	width: 100%;
	line-height: 48px;
	height: 50px;
	margin-top: -1px;
	z-index: 1000;
	text-indent: 0px;
	font-size: 14px;
}
#svga-footermenu ul li#svga-downloadavatar:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}
#svga-randomavatar > div,
#svga-resetavatar > div,
#svga-saveavatar > div,
#svga-shareavatar > div,
#svga-gravataravatar > div,
#svga-downloadavatar > div {
	display: inline;
	position: relative;
	overflow: auto;
}
.svga-menu-icon {
	display: inline;
	width: 21px;
	height: 21px;
}

/********************* Credit **********************/
p.svga-credit {
	font-family: inherit;
	font-size: 10px;
}
.svga-credit a {
	text-decoration: none;
}
.svga-no-touch .svga-credit a:hover,
.svga-credit a:focus {
	text-decoration: underline;
}

/***************** Hidden on mobile *****************/
.svga-mobilehidden {
	display: none!important;
}

/******************** All modals ********************/
#svga-start-overlay {
	display: block;
	width: 100%;
	height: 100%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	opacity:1;
	z-index:999;
}
#svga-work-overlay {
	display: none;
	width: 100%;
	height: 100%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: #000;
	opacity:0.7;
	z-index:999;
}
#svga-loader {
	display: inline-block;
	height: 50px;
	width: 240px;
	overflow: hidden;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	font: inherit;
	color: inherit;
	text-align: center;
	z-index:1000;
}
#svga-gender {
	display: block;
	width: 70%;
	height: 270px;
	min-width: 260px;
	overflow: hidden;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index:1000;
	text-align: center;
}
#svga-gender h1,
#svga-gender h2,
#svga-gender h3 {
	padding: 0;
	margin-bottom: 40px;
	color: inherit;
}
#svga-gender p {
	font-size: 14px;
	line-height: 1;
	color: inherit;
}
#svga-starticons-wrap {
	display: inline-block;
}
#svga-start-boys,
#svga-start-girls {
	width: 80px;
	height: 80px;
	float: left;
	margin: 0 10px 0;
	cursor: pointer;
}
#svga-dialog{
	display: none;
	height: auto;
	width: 90%;
	overflow: hidden;
	margin: auto;
	position: absolute;
	bottom: 15%; left: 0; right: 0;
	padding:20px 30px 40px;
	z-index:1000;
}
#svga-dialog-btns {
	width: 100%;
	margin-top: 10px;
	display: inline-block;
}
#svga-dialog-ok,
#svga-dialog-cancel {
	display: block;
	width: 46%;
	height: 44px;
	border: 1px solid;
	line-height: 42px;
	float: left;
	cursor: pointer;
	text-align: center;
}
#svga-dialog-ok {
	margin-right: 7.99999%;
}
#svga-message,
#svga-gravatar-message {
	display: none;
	height: auto;
	width: 90%;
	overflow: hidden;
	margin: auto;
	position: absolute;
	bottom: 15%; left: 0; right: 0;
	padding:20px 30px 40px;
	z-index:1000;
}
#svga-ios,
#svga-share-block {
	display: none;
	height: auto;
	width: 90%;
	overflow: hidden;
	margin: auto;
	position: absolute;
	bottom: 10%; top: auto; left: 0; right: 0;
	padding:20px 30px 30px;
	z-index:1000;
}
#svga-ios-image img,
#svga-share-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
#svga-share-block {
	padding-top: 30px;
	text-align:center;
}
#svga-share-block ul {
	width: auto;
	margin: 0 auto;
	padding: 0;
}
#svga-share-block li {
  display: inline-block;
  zoom: 1;
  margin: 10px 5px 10px!important;
}
#svga-share-block li a{
	color: white;
	text-decoration: none;
}
.svga-share-icons {
	display: inline;
	width: 32px;
	height: 32px;
}
.svga-share-icons:hover .svga-share-icons-path {
	opacity: 0.6;
}
.svga-close,
#svga-tryagain {
	width: 100%;
	margin-top: 10px;
	display: inline-block;
	height: 44px;
	border: 1px solid;
	line-height: 42px;
	cursor: pointer;
	text-align: center;
}
.svga-nosvg {
	margin: 100px auto 120px!important;
	z-index: 1000;
	text-align: center;
	line-height: 2!important;
	font-weight: 600!important;
}

/***************** Gravatar modals ****************/
#svga-gravatar {
	display: none;
	height: auto;
	width: 90%;
	overflow: hidden;
	margin: auto;
	position: absolute;
	bottom: 15%; left: 0; right: 0;
	padding:20px 30px 40px;
	z-index:1000;
}
#svga-gravatar-btns {
	width: 100%;
	margin-top: 10px;
	display: inline-block;
}
#svga-gravatar-ok,
#svga-gravatar-cancel {
	display: block;
	width: 46%;
	height: 44px;
	border: 1px solid;
	line-height: 42px;
	float: left;
	cursor: pointer;
	text-align: center;
}
#svga-gravatar-ok {
	margin-right: 7.99999%;
}
.svga-input {
	display: block;
	width: 100%;
	font-size:13px;
	border: 1px solid;
	text-decoration: none;
	height: 40px;
	padding: 0 0 0 12px;
}
#svga-gravatar-email {
	clear: left;
	margin-right: 0;
	margin-bottom: 20px;
}
.svga-gr-rating {
    padding-left: 15px;
    text-indent: -15px;
    cursor: pointer;
}
.svga-gr-rating input {
    width: 14px;
    height: 14px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
}











/******************* All transitions ****************/
.svga-colors-set > div,
.svga-col-left .sp-replacer,
.svga-blocks,
.svga-bodyzones,
.svga-elements,
.svga-glob-controls,
.svga-controls,
#svga-footermenu ul li,
#svga-dialog-ok,
#svga-dialog-cancel,
#svga-gravatar-ok,
#svga-gravatar-cancel,
.svga-close,
#svga-tryagain,
.svga-icon-boy,
.svga-icon-girl,
.svga-share-icons-path {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

/***************** CUSTOM SCROLLBAR ****************/
.scroll-wrapper {
	overflow: hidden !important;
	padding: 0 !important;
	position: relative;
}
.scroll-wrapper > .scroll-content {
	border: none !important;
	-webkit-box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	box-sizing: content-box !important;
	height: auto;
	left: 0;
	margin: 0;
	max-height: none !important;
	max-width: none !important;
	overflow: scroll !important;
	padding: 0;
	position: relative !important;
	top: 0;
	width: auto !important;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
	height: 0;
	width: 0;
}
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
	cursor: pointer;
}
/* Simple outer scroll */
.scroll-simple_outer > .scroll-content.scroll-scrolly_show { left: -0px; margin-left: 0px; }
.scroll-simple_outer > .scroll-content.scroll-scrollx_show { top:  -2px; margin-top: 2px; }
.scroll-simple_outer > .scroll-element,
.scroll-simple_outer > .scroll-element div {
	border: none;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	z-index: 10;
}
.scroll-simple_outer > .scroll-element div {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}
.scroll-simple_outer > .scroll-element.scroll-x {
	bottom: 0;
	height: 2px;
	left: 0;
	min-width: 100%;
	width: 100%;
}
.scroll-simple_outer > .scroll-element.scroll-y {
	height: 100%;
	min-height: 100%;
	right: 0;
	top: 0;
	width: 0px;
}
.scroll-simple_outer > .scroll-element .scroll-bar {
	background-color: #9999fc;
}
.scroll-simple_outer > .scroll-element.scroll-x .scroll-bar { top: 0px; height: 2px;}
.scroll-simple_outer > .scroll-element.scroll-y .scroll-bar { left: 0px; width: 0px;}
/* proceed offse if another scroll is visible */
.scroll-simple_outer > .scroll-element.scroll-x.scroll-scrolly_show .scroll-element_size { left: -12px; }
.scroll-simple_outer > .scroll-element.scroll-y.scroll-scrollx_show .scroll-element_size { top: -12px; }
.scroll-simple_outer > .scroll-element.scroll-x.scroll-scrolly_show .scroll-element_inner { left: -12px; }
.scroll-simple_outer > .scroll-element.scroll-y.scroll-scrollx_show .scroll-element_inner { top: -12px; }


.svga-win8tablet .scroll-simple_outer > .scroll-content.scroll-scrollx_show { top:  -12px; margin-top: 12px; }
.svga-win8tablet .scroll-simple_outer > .scroll-element.scroll-x { height: 12px; }
.svga-win8tablet .scroll-simple_outer > .scroll-element.scroll-x .scroll-bar { top: 0px; height: 12px;}

/******************* Media queries *******************/
@media (min-width: 481px) {
	#svga-container {
		padding-left: 0px;
		padding-right: 0px;
		min-width: 481px;
		min-height: 400px;
	}
	.svga-row {
		margin: 0;
	}
	.svga-col-right {
		width: 56%;
		display: table;
	}
	.svga-col-left {
		width: 44%;
		display: table;
	}
	.svga-vert-order-glob-controls {
		display: table-row-group;
		width: 100%;
	}
	.svga-vert-order-colors {
		display: table-footer-group;
	}
	.svga-vert-order-svgcanvas {
		display: table-header-group;
	}
	.svga-row.row-glob-controls {
		border: none;
	}
	.svga-vert-order-main {
		display: table-header-group;
		width: 100%;
	}
	.svga-vert-order-controls {
		display: table-row-group;
		width: 100%;
	}
	.svga-android-hack {
		display: inline-table;
		width: 100%;
	}
	.svga-vert-order-blocks {
		display: table-header-group;
		width: 100%;
	}
	.svga-vert-order-bodyzones {
		display: table-row-group;
	}
	.svga-vert-order-elements {
		display: table-footer-group;
		width: 100%;
	}
	.scroll-simple_outer > .scroll-content.scroll-scrollx_show { top: 0; margin-top: 0; }
	.scroll-simple_outer > .scroll-element.scroll-x {
		height: 0px!important;
	}
	#svga-glob-controls {
		max-width: 100%;
	}
	.svga-glob-controls,
	.svga-glob-controls:last-child {
		display: block;
		width: 12.5%;
		padding-bottom: 12%;
		margin-bottom: 10px;
		border: 1px solid;
		float: left;
	}
	.svga-row.row-colors {
		border: none;
		margin-top: 0;
		margin-bottom: 15px;
		position: relative;
	}
	#svga-colors-wrap {
		width: 100%;
		float: left;
	}
	.svga-colors-set > div {
		display: block;
		width: 14.2857142857142%;
		padding-bottom: 13.2%;
		margin: 0;
		float: left;
		border: 2px solid;
		-webkit-box-sizing: border-box!important;
		-moz-box-sizing: border-box!important;
		box-sizing: border-box!important;
	}
	#svga-custom-color {
		width: 12.5%;
		padding-bottom: 13%;
		position: absolute;
		z-index: 100;
		bottom: 3px;
		right: 3px;
		-webkit-box-sizing: border-box!important;
		-moz-box-sizing: border-box!important;
		box-sizing: border-box!important;
	}
	.svga-col-left .sp-replacer {
		width: 100%;
		top: 0%;
		left: 0%;
	}
	.svga-row.row-svgcanvas {
		border: none;
		margin: 0;
	}
	#svga-svgmain {
	  width: 100%;
	  padding-bottom: 100%;
	  margin: 10px 0;
	}
	#svga-blocks {
		margin-top: 10px;
	}
	.svga-blocks:first-child {
		border-left: none;
	}
	.svga-blocks {
		border: none;
		min-width: 0;
		width: 19.999999999%;
		padding: 0;
	}
	.svga-row.row-bodyzones {
		margin-top: 0;
		border: none;
	}
	.svga-row.row-elements {
		border: none;
		padding-top:0;
		margin-top: 2px;
	}
	.svga-elements {
		display: block;
		width: 20%;
		padding-bottom: 19%;
		margin: 0;
		border: 2px solid;
		float: left;
	}
	.svga-row.row-controls {
		border: none;
		margin-top: 10px;
	}
	.svga-controls {
		display: inline-block;
		width: 9.09090909090908%;
		padding-bottom: 8.6%;
		margin: 0;
		float: left;
		border: 1px solid;
	}
	#svga-footermenu {
		margin-top: 10px;
		margin-bottom: 15px;
	}
	#svga-footermenu ul li {
		height: 50px;
		line-height: 48px;
	}
	#svga-footermenu ul li ul {
		bottom: 50px;
	}
	#svga-randomavatar > div,
	#svga-resetavatar > div,
	#svga-saveavatar > div,
	#svga-shareavatar > div,
	#svga-gravataravatar > div,
	#svga-downloadavatar > div {
		display: none;
	}
	p.svga-credit {
		margin: 0 0 0 15px !important;
		position: relative;
		bottom: 5px;
		text-align: left;
	}
	.svga-mobilehidden {
		display: block!important;
	}
	#svga-dialog {
		width: 50%;
		bottom: 30%; left: 0; right: 0;
	}
	#svga-gravatar {
		width: 60%;
		bottom: 20%; left: 0; right: 0;
	}
	#svga-message,
	#svga-gravatar-message {
		width: 50%;
		bottom: 30%; left: 0; right: 0;
	}
	#svga-ios,
	#svga-share-block {
		width: 50%;
		top: auto; bottom: 5%; left: 0; right: 0;
	}
	.svga-opera .svga-glob-controls,
	.svga-opera .svga-colors-set > div:last-child,
	.svga-opera .svga-elements:last-child,
	.svga-opera .svga-controls {
		margin-bottom: 17px;
	}
	.svga-input {
		width: 46%;
		font-size:13px;
		border: 1px solid;
		text-decoration: none;
		height: 40px;
		padding: 0 0 0 12px;
	}
	#svga-gravatar-email {
		float: left;
		margin-right: 7.99999%;
		margin-bottom: 0;
	}
}

@media (max-width:480px) {
	#svga-container {
		font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
}
@media (min-width: 481px) {
	#svga-container {
		font-family: 'Roboto Condensed', 'Helvetica Condensed', 'Arial Narrow', sans-serif;
	}
}
@media (min-width: 769px) {
	#svga-container {
		font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding-left: 15px;
		padding-right: 15px;
	}
}



/******************* Color schemes *******************/

/* LIGHT scheme */
#svga-container.svga-light,
.svga-light .svga-glob-controls,
.svga-light .svga-col-left .sp-replacer,
.svga-light #svga-footermenu ul li ul li,
.svga-light #svga-start-overlay,
.svga-light #svga-gender,
.svga-light #svga-dialog,
.svga-light #svga-gravatar,
.svga-light #svga-message,
.svga-light #svga-gravatar-message,
.svga-light #svga-ios,
.svga-light #svga-share-block {
	background-color: #fafafa;
}
.svga-light .svga-colors-set > div,
.svga-light .svga-elements {
	border-color: #fafafa;
}
#svga-container.svga-light,
.svga-light .svga-row.row-glob-controls,
.svga-light .svga-glob-controls,
.svga-light .svga-glob-controls:last-child,
.svga-light .svga-row.row-colors,
.svga-light .svga-row.row-svgcanvas,
.svga-light .svga-row.row-controls,
.svga-light .svga-controls,
.svga-light .svga-row.row-elements,
.svga-light .svga-row.row-bodyzones,
.svga-light .svga-blocks,
.svga-light #svga-footermenu,
.svga-light #svga-footermenu ul li,
.svga-light #svga-footermenu ul li ul li,
.svga-light .svga-blocks:first-child {
	border-color: #ecf0f1;
}
.svga-no-touch.svga-light .svga-glob-controls:hover,
.svga-no-touch.svga-light .svga-controls:hover,
.svga-light #svga-bodyzones,
.svga-no-touch.svga-light .svga-blocks:hover,
.svga-light .svga-blocks.svga-active,
.svga-no-touch.svga-light #svga-footermenu ul li:hover,
.svga-light .scroll-simple_outer > .scroll-element,
.svga-light .svga-input {
	background-color: #ecf0f1;
}
#svga-container.svga-light,
#svga-container.svga-light .svga-nosvg,
.svga-light .svga-input {
	color: #777;
}
.svga-light .svga-elements {
	background-color: #ecf0f1;
}
.svga-light #svga-dialog-ok,
.svga-light #svga-dialog-cancel,
.svga-light #svga-gravatar-ok,
.svga-light #svga-gravatar-cancel,
.svga-light .svga-close,
.svga-light #svga-tryagain,
.svga-light .svga-active-element,
.svga-light .svga-input {
	border-color: #ecf0f1;
}
.svga-light .svga-control-icon-path,
.svga-light .svga-menu-icon-path,
.svga-light .svga-icon-boy,
.svga-light .svga-icon-girl {
	fill: #aaa;
}
.svga-light .svga-credit a {
	color: #999;
}
.svga-no-touch.svga-light #svga-dialog-cancel:hover,
.svga-no-touch.svga-light #svga-dialog-ok:hover,
.svga-no-touch.svga-light #svga-gravatar-cancel:hover,
.svga-no-touch.svga-light #svga-gravatar-ok:hover,
.svga-no-touch.svga-light .svga-close:hover,
.svga-no-touch.svga-light #svga-tryagain:hover {
	color: #fff;
}

/* BLUE DARK scheme */
#svga-container.svga-dark,
.svga-dark .svga-glob-controls,
.svga-dark .svga-col-left .sp-replacer,
.svga-dark #svga-footermenu ul li ul li,
.svga-dark #svga-start-overlay,
.svga-dark #svga-gender,
.svga-dark #svga-dialog,
.svga-dark #svga-gravatar,
.svga-dark #svga-message,
.svga-dark #svga-gravatar-message,
.svga-dark #svga-ios,
.svga-dark #svga-share-block {
	background-color: #2c3e50;
}
.svga-dark .svga-colors-set > div,
.svga-dark .svga-elements {
	border-color: #2c3e50;
}
#svga-container.svga-dark,
.svga-dark .svga-row.row-glob-controls,
.svga-dark .svga-glob-controls,
.svga-dark .svga-glob-controls:last-child,
.svga-dark .svga-row.row-colors,
.svga-dark .svga-row.row-svgcanvas,
.svga-dark .svga-row.row-controls,
.svga-dark .svga-controls,
.svga-dark .svga-row.row-elements,
.svga-dark .svga-row.row-bodyzones,
.svga-dark .svga-blocks,
.svga-dark #svga-footermenu,
.svga-dark #svga-footermenu ul li,
.svga-dark #svga-footermenu ul li ul li,
.svga-dark .svga-blocks:first-child {
	border-color: #34495e;
}
.svga-no-touch.svga-dark .svga-glob-controls:hover,
.svga-no-touch.svga-dark .svga-controls:hover,
.svga-dark #svga-bodyzones,
.svga-no-touch.svga-dark .svga-blocks:hover,
.svga-dark .svga-blocks.svga-active,
.svga-no-touch.svga-dark #svga-footermenu ul li:hover,
.svga-dark .scroll-simple_outer > .scroll-element,
.svga-dark .svga-input {
	background-color: #34495e;
}
#svga-container.svga-dark,
#svga-container.svga-dark .svga-nosvg,
.svga-dark .svga-input {
	color: #ecf0f1;
}
.svga-dark .svga-elements {
	background-color: #ecf0f1;
}
.svga-dark #svga-dialog-ok,
.svga-dark #svga-dialog-cancel,
.svga-dark #svga-gravatar-ok,
.svga-dark #svga-gravatar-cancel,
.svga-dark .svga-close,
.svga-dark #svga-tryagain,
.svga-dark .svga-active-element,
.svga-dark .svga-input {
	border-color: #ecf0f1;
}
.svga-dark .svga-control-icon-path,
.svga-dark .svga-menu-icon-path,
.svga-dark .svga-icon-boy,
.svga-dark .svga-icon-girl {
	fill: #ecf0f1;
}
.svga-dark .svga-credit a {
	color: #8da2a7;
}

/* FEMALE colors */
#svga-container.svga-girls,
.svga-no-touch.svga-girls #svga-dialog-cancel:hover,
.svga-no-touch.svga-girls #svga-dialog-ok:hover,
.svga-no-touch.svga-girls #svga-gravatar-cancel:hover,
.svga-no-touch.svga-girls #svga-gravatar-ok:hover,
.svga-no-touch.svga-girls .svga-close:hover,
.svga-no-touch.svga-girls #svga-tryagain:hover {
	border-color: #e74c3c;
}
.svga-no-touch.svga-girls .svga-bodyzones:hover,
.svga-girls .svga-bodyzones.svga-active,
.svga-no-touch.svga-girls .svga-blocks:hover,
.svga-girls .svga-blocks.svga-active {
	color: #e74c3c;
}
.svga-no-touch.svga-girls #svga-dialog-cancel:hover,
.svga-no-touch.svga-girls #svga-dialog-ok:hover,
.svga-no-touch.svga-girls #svga-gravatar-cancel:hover,
.svga-no-touch.svga-girls #svga-gravatar-ok:hover,
.svga-no-touch.svga-girls .svga-close:hover,
.svga-no-touch.svga-girls #svga-tryagain:hover,
.svga-girls .scroll-simple_outer > .scroll-element .scroll-bar {
	background-color: #e74c3c;
}
#svga-start-girls:hover .svga-icon-girl {
	fill: #e74c3c;
}
.svga-no-touch.svga-girls .svga-elements:hover,
.svga-no-touch.svga-girls .svga-colors-set > div:hover,
.svga-girls .svga-colors-set > div.svga-active,
.svga-girls .svga-elements.svga-active-element {
	border-color: #e74c3c;
}

/* MALE colors */
#svga-container.svga-boys,
.svga-no-touch.svga-boys #svga-dialog-cancel:hover,
.svga-no-touch.svga-boys #svga-dialog-ok:hover,
.svga-no-touch.svga-boys #svga-gravatar-cancel:hover,
.svga-no-touch.svga-boys #svga-gravatar-ok:hover,
.svga-no-touch.svga-boys .svga-close:hover,
.svga-no-touch.svga-boys #svga-tryagain:hover {
	border-color: #3498db;
}
.svga-no-touch.svga-boys .svga-bodyzones:hover,
.svga-boys .svga-bodyzones.svga-active,
.svga-no-touch.svga-boys .svga-blocks:hover,
.svga-boys .svga-blocks.svga-active {
	color: #3498db;
}
.svga-no-touch.svga-boys #svga-dialog-cancel:hover,
.svga-no-touch.svga-boys #svga-dialog-ok:hover,
.svga-no-touch.svga-boys #svga-gravatar-cancel:hover,
.svga-no-touch.svga-boys #svga-gravatar-ok:hover,
.svga-no-touch.svga-boys .svga-close:hover,
.svga-no-touch.svga-boys #svga-tryagain:hover,
.svga-boys .scroll-simple_outer > .scroll-element .scroll-bar {
	background-color: #3498db;
}
#svga-start-boys:hover .svga-icon-boy {
	fill: #3498db;
}
.svga-no-touch.svga-boys .svga-elements:hover,
.svga-no-touch.svga-boys .svga-colors-set > div:hover,
.svga-boys .svga-colors-set > div.svga-active,
.svga-boys .svga-elements.svga-active-element {
	border-color: #3498db;
}

/* COMMON colors */
.svga-error h1,
.svga-error h2,
.svga-error h3,
.svga-error h4,
.svga-error h5,
.svga-error h6 {
	color: red!important;
}
